.App {
  text-align: center;
  height: 100vh;
  width: 100vw;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App > div.form {
  height: 10%;
  width: 100%;
  background-color: rgba(26, 17, 23, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > div.output {
  height: 90%;
  width: 100%;
  /*background-color: #fb3625; */
}

.output > div.images {
  height: 80%;
  width: 100%;
  /*background-color: #f1fbe3;*/
  display: flex;
  flex-direction: row;
}

.images > div.img-src {
  height: 100%;
  width: 50%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
